<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="SiteHostName" value="cqrs-test.apphb.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	
	<connectionStrings>
		<add name="EventStore"
			connectionString="Server=0a1cc404-841f-4322-b137-a08f00a21327.sqlserver.sequelizer.com;Database=db0a1cc404841f4322b137a08f00a21327;User ID=vwkihmorvzcpjnzt;Password=ByAyWjaTV443iQFPScbUuQRrcMaqa5BBzZoDNXsP2PFvGNFjyyZtEjyTQjvijSSY;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="ReadModel"
			connectionString="Server=0a1cc404-841f-4322-b137-a08f00a21327.sqlserver.sequelizer.com;Database=db0a1cc404841f4322b137a08f00a21327;User ID=vwkihmorvzcpjnzt;Password=ByAyWjaTV443iQFPScbUuQRrcMaqa5BBzZoDNXsP2PFvGNFjyyZtEjyTQjvijSSY;"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>