@using ECom.Site.Helpers
@using ECom.Messages
@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager;
@using MvcContrib.Pagination;

@model ECom.Site.Areas.Admin.Models.ProductsListViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span-16 colborder prepend-1" id="content">
	<h2>Products</h2>

	@Html.Grid(Model.Products).Columns(column => {
		column.For(x => Html.ActionLink(x.Name, "Details")).Encode(false);
		column.For(x => x.Price);
		column.For(x => Html.Command(new ChangeProductPrice(x.ID, x.Price))).Encode(false);
	})
     	
	@Html.Pager(Model.Products)

	<br />
	<br />
	<br />

	@Html.Command(Model.AddProductCommand)
</div>
