@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>

<div class="span-16 colborder prepend-1" id="content">
    <h2>@ViewBag.Message</h2>

    <div class="span-5">
        <h3 class="loud">
            Design used Blue princt css
        </h3>
        <p>
            Rounded buttons made by using javascript with nifty
        </p>
    </div>

    <div class="span-9 last prepend-1">
        <img class="right" src="../../Content/blueprint_header_clean.png" alt="featured book" /></div>
    <hr />

    <div class="span-8 colborder">
        <h4 class="prepend-5">
            Dash board</h4>
        <p>
            Nam vitae tortor id ante sodales facilisis.
        </p>
    </div>

    <div class="span-7 last">
        <h4 class="prepend-5">
            Notices
        </h4>
        <p>
            Nam vitae tortor id ante sodales facilisis. Mauris ipsum.
        </p>
    </div>

</div>
<div class="span-5 last prepend-top" id="sidebar">

    <div id="recent-books">
        <h3 class="caps">
            Recent Activities</h3>
        <div class="box">
            <a href="#" class="quiet">Hygiene</a>
            <div class="quiet">
                Nov. 29, 2008</div>
            <div class="quiet">
                by Craven</div>
        </div>
    </div>

    <div class="prepend-top" id="recent-reviews">
        <h3 class="caps">
            Recent Reviews</h3>
        <div class="box">
            <span class="quiet">Thor reviewed Hygiene</span>
            <div class="quiet">
                Rating: 4/5</div>
            <a href="#" class="quiet">Read this review</a>
        </div>
    </div>
</div>
<hr />
