@model ECom.Site.Areas.Shop.Models.CreditCardViewModel
       
@functions
{ 
    bool HasErrors(string propertyName)
    {
        return ViewData.ModelState.ContainsKey(propertyName)
            && ViewData.ModelState[propertyName] != null
            && ViewData.ModelState[propertyName].Errors != null
            && ViewData.ModelState[propertyName].Errors.Count > 0;
    }
}

@helper FormRow(string propName, MvcHtmlString editor, MvcHtmlString validator)
{
    <div class="control-group @(HasErrors(propName) ? "error" : String.Empty)">
            <label class="control-label">@propName</label>
            <div class="controls">
            @editor @validator
            </div>
    </div>
}

<div id="divCreditCardContainer">

<script type="text/javascript">
        $(function () {
            $('#frmCreditCard').ajaxForm({
                target: '#divCreditCardContainer'
            });
        });
</script>

@using (Html.BeginForm("CreditCard", "Order", FormMethod.Post, new { id = "frmCreditCard", @class = "form-horizontal" }))
{
    
    @FormRow("Type", Html.EditorFor(m => m.Type), Html.ValidationMessageFor(m => m.Type))
    @FormRow("Number", Html.EditorFor(m => m.Number), Html.ValidationMessageFor(m => m.Number))
    
<input type="submit" class="btn" value="Save"/>
}

</div>


