@using ECom.Site.Models

@model ECom.Site.Areas.Admin.Models.EventDetailsViewModel

<h2>Event Details</h2>
<br />

<div class="divRow">
    <div class="display-label">
        Aggregate type
    </div>
    <div class="display-field">
        @Model.AggregateType
    </div>
</div>
<div>
    <div class="display-details">
        @MvcHtmlString.Create(Model.EventDetails)
    </div>
</div>
