<h2>Event Details</h2>
<br />

<div class="divRow">
    <div class="display-label">
        Aggregate type
    </div>
    <div class="display-field">
        @ViewBag.AggregateType
    </div>
</div>
<div>
    <div class="display-details">
        @MvcHtmlString.Create(ViewBag.EventDetails)
    </div>
</div>
