@using ECom.Site.Helpers
@using ECom.Site.Models
@using ECom.Messages

@model ECom.ReadModel.Views.ProductDetailsDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
	<h2>Product Details</h2>

	@Html.DisplayForModel()

	<br />
	<br />

	@Html.Command(new ChangeProductPrice(new ProductId(Model.ID), Model.Price ).WithEnvelope())
</div>
