@using ECom.Site.Helpers
@using ECom.Site.Models
@using ECom.Messages
@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager;
@using MvcContrib.Pagination;

@model ECom.Site.Areas.Admin.Models.ProductsListViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
	<h2>Products</h2>

	@Html.Grid(Model.Products).Columns(column =>
{
    column.For(x => Html.ActionLink(x.Name, "Details", new { id = x.ID })).Encode(false);
    column.For(x => x.Price);
    
    column.For(x => Html.Command(new ChangeProductPrice(new ProductId(x.ID), x.Price).WithEnvelope())).Encode(false);
    column.For(x => Html.Command(new RemoveProduct(new ProductId(x.ID)).WithEnvelope())).Encode(false);
    
}).Attributes(@class => "table table-striped")
     	
	@Html.BootPager(Model.Products)

	<br />
	<br />

	@Html.Command(Model.AddProductCommand.WithEnvelope())
</div>
