@{
    ViewBag.Title = "Home Page";
}

<div id="content">
   <h2>Welcome to Crowd Shop!</h2>

	@if(!Request.IsAuthenticated) {
		<br />
		<br />
		<div class="row">
			@Html.Partial("LoginWith")
		</div>
	}
</div>

