@using ECom.Site.Helpers
@using System.Globalization

@model ECom.Messages.Command
		   
@{ 
	var aggrId = Model.AggregateId;
	var cmdName = Model.GetType().Name;

	var formId = String.Format(CultureInfo.InvariantCulture, "frm_{0}_{1}", aggrId, cmdName);
	var containerId = String.Format(CultureInfo.InvariantCulture, "div_container_{0}_{1}", aggrId, cmdName);
}

<script type="text/javascript" language="javascript">
	$(function () {
		$('#@(formId)').ajaxForm({
			target: '#@(containerId)'
		});
	});
</script>

<div id="@(containerId)">

@if (ViewData.ContainsKey("CommandProcessed") && (bool)ViewData["CommandProcessed"])
{
	<div style="text-align:center; color:Green; font-weight:bold;">@("Done!")</div>
	
	<script type="text/javascript" language="javascript">
		function refreshPage() {
			window.location.reload(true);
		}

		setTimeout('refreshPage();', 200);
	</script>
}
else
{
	@Html.ValidationSummary(true)
	
	var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

	using (Html.BeginForm(cmdName, controllerName, FormMethod.Post, new { id = formId }))
	{
		@Html.EditorForModel()	
	
		<input type="submit" value="Submit" />
	}
}
</div>

