@using ECom.Site.Helpers

@model ECom.Messages.Command

@{ 
	var cmdName = Model.GetType().Name;
	var cmdFriendlyName = Html.SplitCamelCase(Model.GetType().Name);
	var aggrId = Model.AggregateId;
}

<script type="text/javascript" language="javascript">
	$(function () {
		var show = $('#lnk_@(aggrId + "_" + cmdName)');

		$('#cmdModal_@(aggrId + "_" + cmdName)')
			.jqm({ overlay: 0, trigger: false })
			.jqmAddTrigger(show);
	});
</script>

<a href="#" id="lnk_@(aggrId + "_" + cmdName)" >@cmdFriendlyName</a>

<div id="cmdModal_@(aggrId + "_" + cmdName)" class="jqmWindow">
	<div style="text-align:right;">
		<a href="#" class="jqmClose">Close</a>
	</div>
	<div style="text-align:center;">
		@cmdFriendlyName
	</div>
<br />

@{ Html.RenderPartial("CommandBody", Model, ViewData); }

</div>